<settings>
    	<setting propertyKey="@Properties.appVersion" title="@Strings.app_version_title">
        	<settingConfig type="alphaNumeric" readonly="true" />
    	</setting>
    
    <setting propertyKey="@Properties.typeMetric" title="@Strings.first_metric_label">
        <settingConfig type="list">
            <listEntry value="1">@Strings.impact_gs_label</listEntry>
            <listEntry value="2">@Strings.braking_gs_label</listEntry>
            <listEntry value="3">@Strings.fs_type_label</listEntry>
            <listEntry value="4">@Strings.pronation_label</listEntry>
            <listEntry value="5">@Strings.flight_ratio_label</listEntry>
            <listEntry value="6">@Strings.contact_time_label</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.trendLineInterval" title="@Strings.trend_line_interval">
        <settingConfig type="list">
            <listEntry value="1">@Strings.sec1</listEntry>
            <listEntry value="2">@Strings.sec2</listEntry>
            <listEntry value="5">@Strings.sec5</listEntry>
            <listEntry value="10">@Strings.sec10</listEntry>
            <listEntry value="20">@Strings.sec20</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.antRate" title="@Strings.antRate">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Hz4</listEntry>
            <listEntry value="1">@Strings.Hz8</listEntry>
            <listEntry value="2">@Strings.Hz16</listEntry>
        </settingConfig>
    </setting>    
</settings>
